@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  /* Fonts */
  --font-league-spartan: 'League Spartan', sans-serif;
  --font-overpass: 'Overpass', sans-serif;
  --font-poppins: 'Poppins', sans-serif;

  /* Base Colors */
  --color-brown-600: #26231E;
  --color-brown-500: #43403B;
  --color-brown-400: #75716B;
  --color-brown-300: #DAD6D1;
  --color-brown-200: #EFEEEB;
  --color-brown-100: #F9F8F6;
  --color-white: #FFFFFF;

  /* Brand Colors */
  --color-orange: #F2B68C;
  --color-green: #12B279;
  --color-green-light: #D7F2E9;
  --color-red: #EB5164;
}


body {
  font-family: poppins, sans-serif;
  background-color: var(--color-white);
  color: var(--color-brown-600);
  
}

/* Typography Styles */
.headline-1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-brown-600);
}

.headline-2 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.3;
  color: var(--color-brown-600);
}

.headline-3 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.4;
  color: var(--color-brown-600);
}

.headline-4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
  color: var(--color-brown-600);
}

.body-1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-brown-600);
}

.body-2 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-brown-600);
}